# Ignore everything
/*
# Except:
!/hw*
!/project*
!README*
!.gitignore
!/scripts


# Still ignore these, though
*.docx
*.odt
*.pdf
*.zip
*.~lock*
# (Backup of Ansys data, figures used, redundant)
*/Archive
# Ignore LaTeX cache
*/latex_cache

# Don't ignore any figures/images for the projects
!/project*/figs/*
